<div class="article container">
  <h1 class="text-center mt-5">Listing all articles</h1>

  <div class="flickr_pagination mb-3">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'article' %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>