@import 'bootstrap';


html,
body {
  height: 100%;
}

.navbar {
  background-color: black !important;
}

#logo {
  float: left;
  font-size: 1.4em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

.welcome {
  .jumbotron {
    .row {
      flex-direction: column-reverse;
    }

    @media (min-width: 768px) {
      .row {
        height: 400px;
        flex-direction: row;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;

    @media (min-width: 768px) {
      flex-direction: column;
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }

  &__image {
    background-image: asset-url('welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 70%;
    min-height: 200px;
  }
}

.article {
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
}

/* Pagination Styling */

.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
}

.flickr_pagination a,
.flickr_pagination span,
.flickr_pagination em {
  padding: 0.2em 0.5em;
  border-radius: 5px;
}

.flickr_pagination .disabled {
  color: #aaaaaa;
}

.flickr_pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #0d6efd;
}

.flickr_pagination a {
  border: 1px solid #dddddd;
  color: #000;
  text-decoration: none;
}

.flickr_pagination a:hover,
.flickr_pagination a:focus {
  border-color: #000;
  background: #000;
  color: #fff;
}

.flickr_pagination .page_info {
  color: #aaaaaa;
  padding-top: 0.8em;
}

.flickr_pagination .previous_page,
.flickr_pagination .next_page {
  border-width: 2px;
  border-radius: 5px;
}

.flickr_pagination .previous_page {
  margin-right: 1em;
}

.flickr_pagination .next_page {
  margin-left: 1em;
}