<footer class="footer mt-auto py-3 bg-light">
  <div class="footer__copyright">
    <p
      class="text-muted text-center"
    >
      Copyright &copy; MyApp.
      <br />
      All right reserved. Created by
      <%= link_to '@lenxnos', 'https://github.com/lenxnos', class: "text-muted text-decoration-none", target: '_blank'  %>
    </p>
  </div>
</footer>